*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* header css */

/* footer css */

#boxfoot
{

    background-color: rgba(21,28,42,.87); 
}
.boxfoot2
{
    display: flex;
    justify-content:space-between;
    margin: 0 11rem;
    margin-bottom: 40px;
    font-family: 'proxima_novaregular';
}
#b1
{
    width: 100%;
    margin: auto;
    color: white;
    padding-left: 174px; 
    padding-right: 200px; 
    padding-top: 40px;
    box-sizing: border-box;
    font-family: 'proxima_novaregular';
}
#b2
{
    color:  #fff;
    box-sizing: border-box;
}
#b3
{
    color:  #fff;
    box-sizing: border-box;
}
#b4
{
    color:  #fff;
    box-sizing: border-box;
}
#b5
{
    color:  #fff;
    box-sizing: border-box;
}
#b6
{
    clear: left;
    width: 100%;
    color:  #fff;
    padding-left: 180px;
    padding-right: 127px;
    box-sizing: border-box;

}
#b7
{
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 0.1px solid hsla(0,0%,66.3%,.1);
}
.b1_hr
{
    margin-bottom: 0;
    margin-top: 0;
}
body
{
    margin: 0;
}
.com
{
    margin-top: 35px;
    margin-bottom: 15px;
}
.heading
{
    margin-top: 10px;
    border-bottom: 0.1px solid hsla(0,0%,66.3%,.1);
    margin-bottom: 0px;
    padding-bottom: 20px;
}
.spl_head
{
    margin-bottom: 2px;
    font-family: 'proxima_novaregular';
}
.a_foot
{
    color: white;
    text-decoration: none;
    font-family: inherit;
    margin-bottom: initial;
    font-family: 'proxima_novaregular';
}
.ol_foot
{
    list-style-type: none;
    padding-inline-start: 0px;
    font-size: 12px;
}
.li_foot
{
    margin-bottom: 5px;
    font-family: 'proxima_novaregular';
}
